
.nav-button {
    position: absolute;
    top: 8px;
    left: 8px;
}

#docs-list {
    margin: 50px 8px 8px 8px;
}

#docs-list .doc {
    border-bottom: 1px solid #ccc;
    margin: 12px 0;
}

#split-container {
    height: 100%;
    width: 100%;
}

#doc-container {
    width: 100%;
    height: 300px;
    position: relative;
    border-top: 3px solid #ccc;
    display: none;
    overflow-y: scroll;
}

#doc-close {

    position: fixed;
    font-size: 1.4em;
    width: 24px;
    height: 24px;
    line-height: 24px;
    right: 8px;
    background: white;
    color: #333;
    text-align: center;
    text-decoration: none;
}

#doc-close:hover {
    background: #ccc;
}

#doc-scroll {
    overflow-y: scroll;
}

#doc {
    padding: 8px;
}

.doc h2 {
    font-size: 24px; /* h3 */
    margin-top: 0;
}

.doc h3 {
    font-size: 18px; /* h4 */
}

.doc h2 em, .doc h3 em {
    font-size: 14px;
    color: #999;
    padding-left: 4px;
    font-style: normal;
}

.doc pre {
    margin: 8px;
    padding: 4px;
}

/*
.doc .select-object.missing {
    color: #c7254e;
}
*/
