/* CSS Document */
div#santionsnb2 {
	background-image: url(../images/sanctionsnb_5.gif);
	background-position: right center;
	background-repeat: no-repeat;	
}

#main div#santionsnb2 h1{
	font-size: 1.3em !important;
}

#maincontent ol li{
margin:  0 .8em 0.8em 0;
}

.cap {
	text-transform:uppercase;	
}
